:root {
  --primary-color: #f5c34b;
}

.step1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 0.5rem;
  align-items: center;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 6px;
  height: 138px;
  box-sizing: border-box;
  transition: transform 0.3s;
  -webkit-transition: transform 0.3s;
  -moz-transition: transform 0.3s;
  -ms-transition: transform 0.3s;
  -o-transition: transform 0.3s;
}

.step1:hover {
  transform: scale(1.05);
  box-shadow: 0px 18px 60px rgba(23, 26, 33, 0.05);
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
}

.step-segment {
  margin-top: 13px;
  color: #848484;
  font-size: 11px;
  font-weight: bold;
  text-align: center;
  line-height: 12px;
}

.step-title {
  margin-top: 4px;
  color: #111111;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  line-height: 12px;
}

.step-left {}

.step-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.step-icon {
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2);
  transform: translateY(5px);
  display: block;
  padding: 12px 6px;
}

.sentence-zone {
  color: black;
  margin: 5px;
  text-align: center;
}

.arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10%;
}

@import "~bootstrap/scss/bootstrap";
@import "./custom_voiture";
@import "./swiper_custom";
@import "./file_uploader";
@import "./style";
@import "./responsive.scss";